.visit {
    background-image: url(../../assets/unsplash_ZE3nj34iO0M.png);
    background-repeat: no-repeat;
    background-position: top;
    min-height: 100vh;
    padding: 0.7rem;

    .plan__visit {
        width: 80%;
        margin: 5rem auto 0rem;
    }
}
